.header {
  background-color: black;
  color: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100px;
  width: 100%;
  font-size: 25px;
}
.header time {
  color: azure;
  right: 0;
  font-size: 16px;
}
